*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background:#fafafa;
}

/* NAV */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;
    background:white;

    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    text-decoration:none;
    color:#222;
    font-weight:bold;
    transition:0.2s;
}

nav a:hover{
    color:#7c1d26;
}

/* LOGO */
.logo{
    color:#7c1d26;
    font-size:28px;
    font-weight:bold;
}

/* HERO */
header{

    height:90vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background: linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),
    url("../images/hero.JPG");

    background-size:cover;
    background-position:center;

    color:white;
}

header h1{
    font-size:60px;
    margin-bottom:20px;
}

header p{
    max-width:700px;
    font-size:22px;
    margin-bottom:40px;
}

/* BUTTON */
header a{

    background:#cfa13a;

    color:white;

    text-decoration:none;

    padding:18px 40px;

    border-radius:40px;

    font-weight:bold;

    transition:0.3s;
}

header a:hover{
    background:#b88f2f;
}

/* ABOUT SECTION */
.about{
    padding:80px 8%;
    text-align:center;
    background:white;
}

.about h2{
    font-size:40px;
    margin-bottom:20px;
    color:#7c1d26;
}

.about p{
    max-width:800px;
    margin:0 auto;
    font-size:18px;
    line-height:1.6;
    color:#333;
}
.about-header{
    height:50vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background: linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("../images/hero.JPG");

    background-size:cover;
    background-position:center;

    color:white;
}

.about-header h1{
    font-size:50px;
}

.about-header p{
    font-size:20px;
    margin-top:10px;
}

.about-page{
    padding:80px 8%;
    background:white;
}

.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    flex-wrap:wrap;
}

.about-text{
    flex:1;
    min-width:300px;
}

.about-text h2{
    font-size:36px;
    color:#7c1d26;
    margin-bottom:20px;
}

.about-text p{
    font-size:18px;
    line-height:1.6;
    color:#333;
    margin-bottom:15px;
}

.about-image{
    flex:1;
    min-width:300px;
}

.about-image img{
    width:100%;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    height:30px;
    width:auto;
}

.logo span{
    font-size:24px;
    font-weight:bold;
    color:#7c1d26;
}
